{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


{# {{ dump(themArts) }} #}
{# <div class="container m-auto d-flex justify-content-around align-items-center"> #}
    <div class="row ma-3D">

        <div class="ma-card">
            <div class="wrapper">
                <img src="{{ asset('build/images/zenitsu.png') }}" class="cover-image" />
            </div>
            <img src="{{ asset('build/images/zenitsu-arrière-plan supprimé.png') }}" class="character" />
        </div>
        <div>
            
        </div>
        {# <div class="ma-card">
            <div class="wrapper">
                <img src="{{ asset('build/images/obito.png') }}" class="cover-image" />
            </div>
            <img src="{{ asset('build/images/obito-arrière-plan supprimé.png') }}" class="character" />
        </div> #}

        {# <div class="ma-card">
            <div class="wrapper">
                <img src="{{ asset('build/images/kisame.png') }}" class="cover-image" />
            </div>
            <img src="{{ asset('build/images/kisame-arrière-plan supprimé.png') }}" class="character" />
        </div>

        <div class="ma-card">
            <div class="wrapper">
                <img src="{{ asset('build/images/itachi.png') }}" class="cover-image" />
            </div>
            <img src="{{ asset('build/images/itachi-arrière-plan supprimé.png') }}" class="character" />
        </div> #}
    </div>
    {#
</div> #}
{% endblock %}