{% extends 'base.html.twig' %}

{% block title %}{{ mangArts.name}}{% endblock %}

{% block body %}
<div class="container text-center">

  <div class="row align-items-start">
    {# Zone d'affichage de l'image #}
    <div class="col ma-3D">
      <div class="ma-card">
        <div class="wrapper">
          <img src="/upload/images/{{mangArts.imageFile}}" class="cover-image" alt="">
        </div>
        {% if mangArts.calqMangart %}
        <img src="/upload/images/{{mangArts.calqMangart}}" class="character" alt="">
        {% endif %}
      </div>
    </div>
    {# Zone de descriptif de l'image #}
    <div class="col ma-3D">{# changer le nom de la classe afin de pouvoir les gérer de manière différente en responsive (7 décembre 2023 dernier changements!!!) #}
      <div class="ma-card">
        <div class="col carte-description">
          <div class="col ma-description">
            <h2 class="descriptifImage">{{ mangArts.name}}</h2>
            <p class="descriptifImage">{{ mangArts.description|striptags }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}